<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fpasswordverify.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DM+Serif+Text:ital@0;1&family=Eater&family=Lora:ital,wght@0,400..700;1,400..700&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Icon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Icon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Icon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'Icon/site.webmanifest' %}">
</head>
<body>
<div class="container-box">
    <h1 class="brand-title">RETRE</h1>
    <form class="form form-control" method="post">
    {% csrf_token %}
    {% if chstatus == False %}
        <div class="set">
            <p class="" name="email">Enter Your Email Id:</p>
            <input type="email" class="input-group" required name="email">
        </div>
    {% endif %}

        {% if chstatus == True %}
            <div>
                <p class="">Enter the Verication Code Sent to Your Mail</p>
                <input type="text" class="input-group" required name="inp_code">
            </div>
        {% endif %}
        {% if verification == True %}
           <script>
                window.location.href="/new-password/"
           </script>
        {% endif %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        {% if ver == False %}
            <button type="submit" name="action" value="verify">Request Verification Code</button>
        {% else %}
            <button type="submit" name="action" value="submit">Change Password</button>
        {% endif %}
    </form>
</div>
</body>
</html>