
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/regen.css' %}">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Icon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Icon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Icon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'Icon/site.webmanifest' %}">
    <link href="https://fonts.googleapis.com/css2?family=Eater&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>
        <form method="post" class="form-1">
            {% csrf_token %}
            <img src="{% static 'Images/RETRE.png' %}">
            <h2>Login To Your Account</h2>
            <h6>First Rule Of RETRE is you do not talk about Retre.</h6>
            <div class="input-group">
            <p>UserName/Email:</p>
                <input type="text" name="uname" required autocomplete="off"></div>
            <div class="input-group sptr">
            <p>Password:</p>
                <input type="password" name="password" required autocomplete="off" ></div>

            {% if check == False %}<div class="alert alert-danger">Incorrect Credentials</div>{% endif %}
            <a href="/f-password-verify/">Forget Password</a>

            <button type="submit" class="btn1">Login</button>
        </form>
        <form method="get" action="/signup/" class="form-2">
            <div class="top-section">
                <h2>New To Our Website</h2>
                <h6>Sign Up and Dive into the Platform</h6>
            </div>
            <p class="len1">A Platform Where You Can Learn, Train and Simulate Inceptions</p>
            <button type="submit" class="btn2">Sign Up</button>
        </form>

</body>
</html>