<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/newpassword.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'Icon/site.webmanifest' %}">

</head>
<body>
    <form method="post">
        {% csrf_token %}
         <div>
             <p class="">Enter Your New Password</p>
             <div>
                <input type="password" id="p1" class="input-group" required name="pass1">
                 <button onclick="togglePassword('p1',this)" type="button">👁</button>
             </div>
         </div>
         <div>
             <p class="">Re-enter Your New Password</p>
             <div>
                <input type="password" id="p2" class="input-group" required name="pass2">
                 <button onclick="togglePassword('p2',this)" type="button">👁</button>
             </div>
         </div>
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
         <button type="submit">Change Password</button>
    </form>
    {% if emailerror %}
        <script>
            alert("Error In the Process, Re-enter Your Email and Verify")
            window.location.href='/f-password-verify/'
        </script>
    {% endif %}
    {% if ch_password %}
        <script>
            alert("Password Changed Successfully , You are Re-directed to the login page")
            window.location.href="/login/"
        </script>
    {% endif %}
    <script>
        function togglePassword(inp_id,btn)
        {
            let inp_type=document.getElementById(inp_id)
            inp_type.type=(inp_type.type === 'password')?'text':'password'
            btn.textContent=(inp_type.type === 'password')?'👁':'🙈'
        }
    </script>
</body>
</html>